<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title> Wit-Coin </title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="static/css/linearicons.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/themify-icons.css">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<link rel="stylesheet" href="static/css/nice-select.css">
	<link rel="stylesheet" href="static/css/nouislider.min.css">
	<link rel="stylesheet" href="static/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="static/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/index"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
							<li class="nav-item submenu dropdown"><a class="nav-link" href="/checkout">Checkout</a></li>
							<li class="nav-item submenu dropdown"><a  class="nav-link" href="/login" >login</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="row single-slide align-items-center d-flex">
						<div class="col-lg-5 col-md-6">
							<div class="banner-content">
								<h1>Wit-Coin</h1>
								<p>The smart way to buy Crypto Currency</p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="static/img/banner/banner-img.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="static/img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Advice on spending</h6>
						<p>Free 24/7 Call centers open to advise you on your investments to a Crypto Currency</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="static/img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>We have a 100% garuntee to return your order if you're not happy with your order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="static/img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>If you are struggling to access your wallet we have 24/7 support from our campus call centers</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="static/img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>All details and payment methods use secure encryption methods to make sure your details are kept private</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- start product Area -->
	<!-- single product slide -->
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Latest Currencies </h1>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="" alt="">
						<div class="product-details">
							<h6>Ethereum cheap affordable investment </h6>
							<div class="price">
								<h6>$150.00</h6>
								<h6 class="l-through">$210.00</h6>
							</div>
							<div class="prd-bottom">

								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-heart"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="" alt="">
						<div class="product-details">
							<h6>New "Doge Coin"</h6>
							<div class="price">
								<h6>$1.00</h6>
								<h6 class="l-through">$21.00</h6>
							</div>
							<div class="prd-bottom">

								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-sync"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="" alt="">
						<div class="product-details">
							<h6>Xenno currency </h6>
							<div class="price">
								<h6>$15.00</h6>
								<h6 class="l-through">$30.00</h6>
							</div>
							<div class="prd-bottom">
								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-sync"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="static/img/product/" alt="">
						<div class="product-details">
							<h6>BitCoin</h6>
							<div class="price">
								<h6>$6450.00</h6>
								<h6 class="l-through">$21000.00</h6>
							</div>
							<div class="prd-bottom">

								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-sync"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="static/img/product/" alt="">
						<div class="product-details">
							<h6>Ripple coin</h6>
							<div class="price">
								<h6>$140.00</h6>
								<h6 class="l-through">$2100.00</h6>
							</div>
							<div class="prd-bottom">

								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-sync"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="static/img/product/" alt="">
						<div class="product-details">
							<h6>Cardino</h6>
							<div class="price">
								<h6>$50.00</h6>
								<h6 class="l-through">$120.00</h6>
							</div>
							<div class="prd-bottom">

								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-heart"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="static/img/product/" alt="">
						<div class="product-details">
							<h6>Dash</h6>
							<div class="price">
								<h6>$110.00</h6>
								<h6 class="l-through">$510.00</h6>
							</div>
							<div class="prd-bottom">

								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-sync"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single product -->
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="static/img/product/" alt="">
						<div class="product-details">
							<h6>Eos</h6>
							<div class="price">
								<h6>$20.00</h6>
								<h6 class="l-through">$200.00</h6>
							</div>
							<div class="prd-bottom">

								<a href="" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">add to bag</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-heart"></span>
									<p class="hover-text">wishlist</p>
								</a>
								<a href="" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				
				<canvas id="bar-chart" style="position: relative; width:90%; left:20px;"></canvas>

				 
			</div>
		</div>
	</section>
	
	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Welcome to wit-coin The smart crypto currency investment
						</p>
					</div>
				</div>
				
				
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap"></p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="static/js/vendor/bootstrap.min.js"></script>
	<script src="static/js/jquery.ajaxchimp.min.js"></script>
	<script src="static/js/jquery.nice-select.min.js"></script>
	<script src="static/js/jquery.sticky.js"></script>
	<script src="static/js/nouislider.min.js"></script>
	<script src="static/js/countdown.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="static/js/gmaps.min.js"></script>
	<script src="static/vendor/chartjs/Chart.bundle.min.js"></script>
	<script src="static/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

		
	<script type = "text/javascript">	
        
		var e = 0;
        
        // var data_obj = {
        //         labels: ["Bitcoin", "Cardano", "DASH", "Dogecoin", "EOS", "Ethereum", "IOTA", "Litecoin", "Monero", "NEM", "NEO", "Ripple", "Stellar", "TRON", "Tether"],
        //         datasets: [{
        //             fill: false,
        //             backgroundColor: ['#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5'],
        //             data: []
        //         }]
        // };

        // var canvas = document.getElementById('bar-chart');
        // var myBarChart = Chart.Bar(canvas,{data:data_obj});
		
		var ctx = document.getElementById("bar-chart");

		var barChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ["Bitcoin", "Cardano", "DASH", "Dogecoin", "EOS", "Ethereum", "IOTA", "Litecoin", "Monero", "NEM", "NEO", "Ripple", "Stellar", "TRON", "Tether"],
				datasets: [{
					backgroundColor: ['#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5', '#FF8203', '#FFB569', '#FFDBB5'],
					data: []
					}]
				}
		});

		function addData(chart, data) {
			chart.data.datasets.push({
			data: data
		});
		chart.update();
		}
        
        
        $.getJSON('/api/get_all_data/', function(data) {
            

				setTimeout(function() {
					for (i = 0; i < data.length; i++) {
						addData(barChart, data[i]);
						console.log(data[i])
					}}, 3000);
			});

	</script>
	   
</body>

</html>