<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Wit-coin</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="static/css/linearicons.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/themify-icons.css">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<link rel="stylesheet" href="static/css/nice-select.css">
	<link rel="stylesheet" href="static/css/nouislider.min.css">
	<link rel="stylesheet" href="static/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="static/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>

<body>

<!-- Start Header Area -->
<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="/index"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item submenu "><a class="nav-link" href="/index">Home</a></li>
						<li class="nav-item submenu "><a class="nav-link" href="/checkout">Checkout</a></li>
						<li class="nav-item submenu active"><a  class="nav-link" href="/login" >login</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item">
							<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="search_input" id="search_input_box">
		<div class="container">
			<form class="d-flex justify-content-between">
				<input type="text" class="form-control" id="search_input" placeholder="Search Here">
				<button type="submit" class="btn"></button>
				<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
			</form>
		</div>
	</div>
</header>
<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="banner-area section_gap">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12 align-items-left justify-content-between">
					<p>{{Transactions[0]}}</p>
					<p>{{Transactions[1]}}</p>
					<p>{{Transactions[2]}}</p>
					<p>{{Transactions[3]}}</p>
					<p>{{Transactions[4]}}</p>
				</section> 
				<section class="section_gap">
					<div class="col-lg-12 align-items-left justify-content-between">
					<form id="Transaction" name= "Transaction" novalidate="novalidate" action="{{url_for('Transaction')}}" method="POST">
							<div class="imgcontainer">
							</div>
					<div class ="section_gap container">
							<label class="customlabel" for="Currency" ><b>Choose Currency:</b></label>
							<select  id="Currency" class="customselect" required>
								<option value="2">Cardano</option>
								<option value="12">Bitcoin</option>
								<option value="22">DASH</option>
								<option value="32">Dogecoin</option>
								<option value="42">EOS</option>
								<option value="52">Ethereum</option>
								<option value="62">Litecoin</option>
								<option value="72">IOTA</option>
								<option value="82">NEO</option>
								<option value="92">TRON</option>
								<option value="102">Tether</option>
								<option value="112">NEM</option>
								<option value="122">Stellar</option>
								<option value="132">Monero</option>
								<option value="142">Ripple</option>
							</select>
							<input type="hidden" id="currencyprice" value="{{Price}}">
							<input type="hidden" id="emailFR" value="{{FRemail}}">
							<label class="customlabel" for="payment"><b>Choose quantity type</b></label>
							<select id="payment" class="customselect" onchange= "check()"required>
								<option value="1">Percentage payment</option>
								<option value="0">Direct payment</option>
							</select>
							<label for="multiplier"><b> </b></label>
							<input type="number" placeholder="" name="multiplier" id="multiplier" min="0.01" max = "16000"required>
							<input type="hidden" id="Returningquanity" name="Returningquanity" value="">
							<input type="hidden" id="Returningmonetaryvalue" name="Returningmonetaryvalue" value="">
							<input type="hidden" id="Returningemail" name="Returningemail" value="">
							<input type="hidden" id="CurrencyID" name="CurrencyID" value="">
							<input type="submit" onsubmit="execute()" value="submit">
						  <style> /* Bordered form */
							form[name="Transaction"] {
							  border: 3px solid #f1f1f1;
							  margin: auto;
							  
							}
							.customselect{
								margin: 30px;
							}
							.customlabel{
								margin: 8px;
							}

							/* Set a style for all buttons */
							button {
							  background-color: #4CAF50;
							  color: white;
							  padding: 14px 20px;
							  margin: 8px 0;
							  border: none;
							  cursor: pointer;
							  width: 100%;
							}
							
							/* Add a hover effect for buttons */
							button:hover {
							  opacity: 0.8;
							}
							
							/* Extra style for the cancel button (red) */
							.cancelbtn {
							  width: auto;
							  padding: 10px 18px;
							  background-color: #f44336;
							}
							
							/* Center the avatar image inside this container */
							.imgcontainer {
							  text-align: center;
							  margin: 24px 0 12px 0;
							}
							
							
							/* Add padding to containers */
							.container {
							  padding: 16px;
							}
							
							/* The "Forgot password" text */
							span.psw {
							  float: right;
							  padding-top: 16px;
							}
							
							/* Change styles for span and cancel button on extra small screens */
							@media screen and (max-width: 300px) {
							  span.psw {
								display: block;
								float: none;
							  }
							  .cancelbtn {
								width: 100%;
							  }
							}
							</style>
							<script>
								function check(){ 
									var paymentTP = Number(document.getElementById("payment").value);
									if (paymentTP == 1){
										document.getElementById("multiplier").setAttribute("placeholder","Enter Percentage")
									}
									else{
										document.getElementById("multiplier").setAttribute("placeholder","Enter Value in GBP")
									}

								}
								function execute(){
								var monetaryvalue, currencyprice, multiplier, currencytype, paymenttype, conversion, emailFR,CurrencyIP;
								emailFR = document.getElementById("emailFR").value;
								currencytype = Number(document.getElementById("Currency").value);
								currencyprice = document.getElementById("currencyprice").value;
								CPconversion = currencyprice.slice(currencytype,currencytype + 6);
								conversion = Number(CPconversion);
								paymenttype = Number(document.getElementById("payment").value);
								multiplier = Number(document.getElementById("multiplier").value);
								if(currencytype<10){

									document.getElementById("CurrencyID").setAttribute("value",0)
								}
								else{
									CurrencyIP = ((Number(currencytype) -2 )/10);
									document.getElementById("CurrencyID").setAttribute("value",CurrencyIP)
								}
								if (paymenttype == 1){
									monetaryvalue = Number(multiplier * conversion) ;
									document.getElementById("Returningmonetaryvalue").setAttribute("value",monetaryvalue);
									document.getElementById("Returningquanity").setAttribute("value",multiplier);
									document.getElementById("Returningemail").setAttribute("value",emailFR);
								}
								else{
									monetaryvalue = multiplier/conversion
									document.getElementById("Returningmonetaryvalue").setAttribute("value",multiplier);
									document.getElementById("Returningquanity").setAttribute("value",monetaryvalue);
									document.getElementById("Returningemail").setAttribute("value",emailFR)
								}
								}
								</script>
							
						</form>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section class="banner-area section_gap">
	<!-- End banner Area -->
	<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                         method="get" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                 required="" type="email">


                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="img/i1.jpg" alt=""></li>
                        <li><img src="img/i2.jpg" alt=""></li>
                        <li><img src="img/i3.jpg" alt=""></li>
                        <li><img src="img/i4.jpg" alt=""></li>
                        <li><img src="img/i5.jpg" alt=""></li>
                        <li><img src="img/i6.jpg" alt=""></li>
                        <li><img src="img/i7.jpg" alt=""></li>
                        <li><img src="img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
</p>
        </div>
	</div>
</footer>
<!-- End footer Area -->

	

	

	<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="static/js/vendor/bootstrap.min.js"></script>
	<script src="static/js/jquery.ajaxchimp.min.js"></script>
	<script src="static/js/jquery.nice-select.min.js"></script>
	<script src="static/js/jquery.sticky.js"></script>
	<script src="static/js/nouislider.min.js"></script>
	<script src="static/js/countdown.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="static/js/gmaps.min.js"></script>
	<script src="static/vendor/chartjs/Chart.bundle.min.js"></script>
	<script src="static/js/main.js"></script>
	<script type = "text/javascript">		
	/*$(document).ready(function() {

		$.getJSON('/api/get_all_data', function(data) {
			console.log(JSON.parse(data));
			
		});});	 
	   
	   var c = 0;
        var window_size = 10;
        var data_obj = {
                labels: [0],
                datasets: [{
                    label: [""],
                    fill: false,
                    backgroundColor: "rgba(255,146,146,0.4)",
                    borderColor: "rgba(255,146,146,0.4)",
					data: [10,20,30,40,50]}]
					},
				
					
				
					
							
        var option = {showLines: true};
        var canvas = document.getElementById('recent-rep-chart');
        var legend = Chart.defaults.global.legend.position = 'right';
        var legend = Chart.defaults.global.legend.labels.padding = 40;
        var myLineChart = Chart.Line(canvas,{data:data_obj, options:option, legend:legend});
		var myBarChart = new Chart(ctx, {
    		type: 'bar',
    		data: data: {
    		datasets: [{
       	 	barPercentage: 0.5,
        	barThickness: 6,
        	maxBarThickness: 8,
        	minBarLength: 2,
        	data: [10, 20, 30, 40, 50, 60, 70]
    }],
    options: options
	
}});
		var canvas = document.getElementById(myBarChart);
		var data_obj = {
                labels: [0],
                datasets: [{
                    label: ["1", "2", "3", "4", "5", "6", "7"],
                    fill: false,
                    backgroundColor: "rgba(255,146,146,0.4)",
                    borderColor: "rgba(255,146,146,0.4)",
                    data: [10, 20, 30, 40, 50, 60, 70]
                }]
        };

        var option = {showLines: true};
        var canvas = document.getElementById('myBarChart');
        var legend = Chart.defaults.global.legend.position = 'right';
        var legend = Chart.defaults.global.legend.labels.padding = 40;
        var myLineChart = Chart.Line(canvas,{data:data_obj, options:option, legend:legend});
		*/
	</script>
	   
</body>

</html>
